{% extends "base.html" %}

{% block meta %}
{{ super() }}

{% if page.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="{{ page.lang }}" />
{% for p in page.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ p.url }}" hreflang="{{ p.lang }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block title %} &ndash; {{ page.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% import 'partial/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header>
  <div>
    {% block before_content %}{% endblock %}
    {% block page_content %}{{ page.content }}{% endblock %}
    {% block after_content %}{% endblock %}

    <hr>
    <section id="comments">
      <h3>Comments</h3>
      <script
        src="https://giscus.app/client.js"
        data-repo="kmathur/kartikblog"
        data-repo-id="R_kgDOP8zDHw"
        data-category="General"
        data-category-id="DIC_kwDOP8zDH84C00SJ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </section>
  </div>
</article>
{% endblock %}
